<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Canvas LMS Test Suite">
    <test name="Canvas LMS Tests">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.DashboardTests"/>
            <class name="tests.CoursesTests"/>
            <class name="tests.AssignmentsTests"/>
            <class name="tests.CalendarTests"/>
            <class name="tests.InboxTests"/>
            <class name="tests.NavigationTests"/>
            <class name="tests.ProfileSettingsTests"/>
        </classes>
    </test>
</suite>